/* ADMIN CSS */

* {
	color: #6f6f6f;
}

body.admin {

}

body.admin .white {
	color: #ffffff;
}

body.admin .btn.btn-sm {
	text-transform: uppercase;
	letter-spacing: 0.05em;
}


	/* ---------------------------
				POPUP
	--------------------------- */

	body.admin .blackout {
		display: none;
		width: 100%;
		height: 100%;
		padding: 0 20px;
		z-index: 100;
		background-color: rgba(0,0,0,0.75);
		position: fixed;
		overflow: auto;
	}

		body.admin .blackout .wrap {
			width: 100%;
			max-width: 600px;
			margin: 50px auto;
			box-shadow: 2px 2px 8px #000000;
			position: relative;
		}

		body.admin .blackout .wrap .closePopup {
			-webkit-transition: all 0.15s ease-in-out;
			-moz-transition: all 0.15s ease-in-out;
			-ms-transition: all 0.15s ease-in-out;
			-o-transition: all 0.15s ease-in-out;
			transition: all 0.15s ease-in-out;
			cursor: pointer;
			position: absolute;
			right: -15px;
			top: -15px;
			background-color: #dadada;
			padding: 8px;
			border-radius: 50%;
			box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
		}

		body.admin .blackout .wrap .closePopup:hover {
			color: #4f4f4f;
			box-shadow: -1px 1px 3px rgba(0,0,0,0.8);
		}

			body.admin .blackout .wrap .content {
			}


			body.admin .blackout.editShow .wrap .panel-body {
				padding-left: 0;
				padding-right: 0;
			}

			body.admin .blackout.editShow .wrap .panel-title {
				color: #6f6f6f;
				font-size: 18px;
			}

			body.admin .blackout.editShow .wrap .panel-title .addOrEdit {
				display: block;
				width: 100%;
				position: relative;
			}

			body.admin .blackout.editShow .wrap .panel-title .alert {
				padding: 5px;
				margin: -2px 0 0 15px;
				border-radius: 5px;
				color: #ffffff;
				background-color: #c9302c;
				border: 1px solid #ac2925;
				font-size: 11px;
				letter-spacing: 0.03em;
				text-transform: uppercase;
				display: inline-block;
				position: absolute;
			}







	/* -------------------
			NAV
	------------------- */

	body.admin .navbar {
		border-radius: 0;
	}


	body.admin .container {
		margin-bottom: 80px;
	}

		body.admin nav .navbar-brand {}

			body.admin nav .navbar-brand img {
				width: 25px;
				height: auto;
				display: inline-block;
				position: relative;
				top: -2px;
				margin-right: 8px;
			}



		/* ---------------------------
			  SECTIONS - GLOBAL
		--------------------------- */

		body.admin section {
			display: none;
		}

		body.admin section h1 {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px #cccccc solid;
		}

			/* -------------------
					INDEX
			------------------- */

			body.admin section.index {}

				body.admin section.index .jumbotron {
					background-color: transparent;
				}


			/* -------------------
					LOGIN
			------------------- */

			body.admin section.login {
				margin-top: 30px;
			}




			/* -------------------
					SHOWS
			------------------- */

			body.admin section.shows .col-md-10 > .col-md-6 {
				padding: 0;
			}

				body.admin section.shows table.showsList {
					float: left;
					margin-top: 30px;
				}

					body.admin section.shows table.showsList tr td {
						cursor: pointer;
					}



			body.admin section.shows table.showsList tr {
				-webkit-transition: all 0.15s ease-in-out;
				-moz-transition: all 0.15s ease-in-out;
				-ms-transition: all 0.15s ease-in-out;
				-o-transition: all 0.15s ease-in-out;
				transition: all 0.15s ease-in-out;
			}

			body.admin section.shows table.showsList tr:hover {
				-webkit-transition: none;
				-moz-transition: none;
				-ms-transition: none;
				-o-transition: none;
				transition: none;
			}

				body.admin section.shows table.showsList tr.old {
					background-color: #EFEFEF;
				}

					body.admin section.shows table.showsList tr.old td {
						color: #BFBFBF;
					}





			/* -------------------
					ABOUT
			------------------- */

			body.admin section.about textarea[for="aboutText"] {
				height: 300px;
				resize: none;
			}


			body.admin section.about #aboutTextEditor {
				outline: transparent;
				box-sizing: border-box;
				display: block;
				width: 100%;
				padding: 15px 15px 8px 15px;
				margin-top: 10px;
				font-size: 14px;
				line-height: 1.4em;
				background-color: #EFEFEF;
				background-image: none;
				border: 1px solid #cccccc;
				border-radius: 4px;
				-webkit-user-select: none; /* Chrome/Safari */        
				-moz-user-select: none; /* Firefox */
				-ms-user-select: none; /* IE10+ */
				-o-user-select: none;
				user-select: none;
			}

			body.admin section.about #aboutTextEditor p,
			body.admin section.about #aboutTextEditor ul,
			body.admin section.about #aboutTextEditor ol,
			body.admin section.about #aboutTextEditor ul li,
			body.admin section.about #aboutTextEditor ol li {
				color: #BFBFBF;
			}

			body.admin section.about #aboutTextEditor a {
				text-decoration: underline;
			}

				body.admin section.about #aboutTextEditor.ready {
					background-color: #ffffff;
					-webkit-user-select: text; /* Chrome/Safari */        
					-moz-user-select: text; /* Firefox */
					-ms-user-select: text; /* IE10+ */
					-o-user-select: text;
					user-select: text;
				}

				body.admin section.about #aboutTextEditor.ready p,
				body.admin section.about #aboutTextEditor.ready ul,
				body.admin section.about #aboutTextEditor.ready ol,
				body.admin section.about #aboutTextEditor.ready ul li,
				body.admin section.about #aboutTextEditor.ready ol li {
					color: #555555;
				}

				body.admin section.about .form-group #aboutTextEditor:focus {
					border-color: #66afe9;
					outline: 0;
					-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
					-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
					-ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
					-o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
					box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
				}

					body.admin section.about .form-group.has-error #aboutTextEditor {
						border-color: #a94442;
					}
					body.admin section.about .form-group.has-error #aboutTextEditor:focus { 
						-webkit-box-shadow: inset 0 1px 1px #a94442,0 0 8px #a94442;
						-moz-box-shadow: inset 0 1px 1px #a94442,0 0 8px #a94442;
						-ms-box-shadow: inset 0 1px 1px #a94442,0 0 8px #a94442;
						-o-box-shadow: inset 0 1px 1px #a94442,0 0 8px #a94442;
						box-shadow: inset 0 1px 1px #a94442,0 0 8px #a94442;
					}

					body.admin section.about .form-group.has-error p { color: #a94442; }
					body.admin section.about .form-group.has-error #aboutTextEditor p { color: #555555; }

				/*
				* Fixed styles for inline editor
				*/
				#cke_17 {
					display: none;
				}


























